@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*font-family: 'Lobster', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/*font-family: 'Abril Fatface', cursive;*/

body{
    background-image: linear-gradient(94deg, rgb(59, 194, 138), rgb(34, 68, 100));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.relogio{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 230px;
    width: 570px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.514);

}
.relogio div{
    display: flex;
    flex-direction: column;
    height: 170px;
    background-color: black;
    color:white ;
    width: 150px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.relogio span{
    font-weight: bolder;
    font-size: 60px;
}
.relogio span.tempo{
    font-size: 15px;
}